*{
    padding:0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
main{
    background-size: cover;
    height: 1287px;
    
}
.main_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.main_header{
    width: 720px;
    height: 56px;
    padding-left: 2px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
}
h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #333333;
}
.main_text{
    width: 790px;
    height: 80px;
    padding-left: 2px;
    margin: 0 auto;
    margin-bottom: 54px;
}
.main_text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
}
ul{
    list-style-type: none;
}
.slider{
    width: 1199px;
    height: 238px;
    padding-left: 1px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.pets_slider{
    width: 100%;
    height: 157px;
    margin-bottom: 32px;
}
.pets_slider_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pets_slider_item{
    position: relative;
}
.pets_slider_item:hover{
    cursor: pointer;
}
.gradient{
    position:absolute;
    top: -25px;
    left: -25px;
   display: none;
}
.pets_slider_img{
    width: 100%;
    height: 100%;
}
#panda{
    width: 108px;
    height: 108px;
}
.pet_active .gradient{
    display: initial;
}
.pet_active .pets_slider_img{
    transform: scale(1.28);
    
}
.pets_sider_pets{
    width: 1073px;
    height: 157px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pets_input{
    display: block;
    width: 245px;
    height: 49px;
    padding-right: 34px;
    margin: 0 auto;
}
.pets_input input[type=range] {
    margin-top: 15px;
    -webkit-appearance: none;
    width: 245px;
  }
.pets_input input[type=range]:focus {
    outline: none;
  }
.pets_input input[type=range]::-webkit-slider-runnable-track {
    width: 245px;
    height: 5px;
    cursor: pointer;
    background: rgba(189, 189, 189, 0.57);
  }
.pets_input input[type=range]::-webkit-slider-thumb {
    height: 10px;
    width: 30px;
    background: #333333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}
.span{
    width: 53px;
    height: 28px;
    margin:0 auto;
}
.dots_pets_first{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #828282;

}
.dots_pets{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}


.map{
    width: 1200px;
    height: 498px;
    position: relative;
    padding-left: 1px;
    margin: 0 auto;
    margin-bottom: 46px;
}
.map_img{
    width: 100%;
    height: 100%;
}
.animal_img{
    position: absolute;
    height: 93.37px;
    width: 93.36px;
}
#panda_map{
    top: 98px;
    left: 890px;
}
#eagle_map{
    top: 82px;
    left: 119px;
}
#crocodile_map{
    top: 102px;
    left: 229px;
}
#monkey_map{
    top: 189px;
    left: 558px;
}
.animal_img:hover{
    cursor: pointer;
   
}
button:focus {
    outline: none;
}
.main_button{
    width: 245px;
    height: 55px;
    margin: 0 auto;
    padding-left: 3px;
    margin-bottom: 100px;
}
.form{
    width: 100%;
    height: 100%;
}
.btn:hover{
    cursor: pointer;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 0;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}