*{
    padding:0;
    margin: 0;
}
.wrapper_header{
    background-size: cover;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);

}
.footer_wrapper_wrap{
    background-color: #333333;
    background-size: cover;
}
.logo_name{
    visibility: hidden;
}
header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1920px;
    height: 94px;
    margin: 0 auto;
}
.logo{
    width: 59px;
    height: 42px;
    margin-top: 26px;
    margin-left: 151px;
}
.logo_img{
    min-width: 100%;
    min-height: 100%;
}
.head_nav{
    width: 573px;
    height: 23px;
    margin-top: 37px;
}
.nav_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    padding: 0;
    padding-top: 4px;
    
}
.nav_link:hover{
    color: grey;
}
.nav_link{
    color: #333333;
    text-decoration: none;
}

#map{
    margin-right: 1px;
}
#zoos{
    margin-right: 1px;
    
}
#about{
    margin-right: 1px;
    
}
.mode{
    width: 54px;
    height: 30px;
    margin-top: 32px;
    margin-right: 149px;
    margin-left: 6px;
}
.header_active{
    font-weight: 900;
    text-decoration: underline;
}

.header_active a:hover{
    pointer-events: none;
    cursor: default;
    color: #333333;
    
}
.header_burger_wrapper{
    position: absolute;
    top: 37%;
    right: 3.125%;
}
.header_burger{
    display: none;
}
@media(max-width:900px) {
    .header_burger{
        display: block;
        position:relative;
        width: 40px;
        height: 21px;
    }
    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: #333333;
        position: absolute;
        right: 0;
        height: 3px;
    }
    .header_burger::before{
        top:3px;
        width: 100%;
    }
    .header_burger::after{
        top: 21px;
        width: 82.5%;
    }
    .header_burger span{
        content: '';
        background-color: #333333;
        position: absolute;
        top: 12px;
        right: 0;
        height: 3px;
        width: 100%;
    }
    
}

/*   mode    */
.swith{
    width: 100%;
    height: 100%;
}
.swith input:hover{
    cursor: pointer;
}

.swith input[type="checkbox"]{
   position: relative; 
   width: 100%;
   height: 100%;
   -webkit-appearance: none;
   outline: none;
   background: #F2F2F2;
   border-radius: 190px;
}
.swith input:checked[type="checkbox"]{
    background: #4F4F4F;
}
.swith input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 5px;
    left: 6px;
    background: #FFFFFF;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}
.swith input:checked[type="checkbox"]::before{
    left: 27px;
    background: #1B1B1B;
}
/*          footer                       */



.footer{
    display: flex;
    position: relative;
    max-width: 1920px;
    height: 751px;
    margin: 0 auto;
   
   
}
.footer_wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
.footer_head{
    display: flex;
    justify-content: space-between;
    max-width: 1205px;
    min-width: 0;
    max-height: 55px;
    margin-right: 25.8%;
}
.footer_logo{
    width: 59px;
    height: 54px;
}
.footer_nav{
    width: 380px;
    min-height: 21px;
    margin-top: 19px;
}
.footer_nav_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_nav_link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FEFEFE; 
    text-decoration: none;
}

.footer_btn{
    position: absolute;
    top: 100px;
    right: 150px;
    width: 279px;
    height: 55px;
}
.button{
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 3px;
    border: 0;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1015px;
    height: 350px; 
    margin-right: 31.51%;
}
.contact_us{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 383px ;
    height: 350px;
}
.contact_us_header{
    margin-bottom: 7px;
}
.contact_us_header h3{
    width: 97px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    text-align: left;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #FEFEFE;
    
}
.name,
.email{
    display: block;
    width: 100%;
    height: 26px;
}
.name input[type=text]{
    display: block;
    width: 100%;
    height: 100%;    
    background-color: #333333;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 5px;
}
.name input[type=text]::-webkit-input-placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #E0E0E0;
    
}
.email input[type=email]{
    width: 100%;
    height: 100%;
    background-color: #333333;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 5px;
}
.email input[type=email]::-webkit-input-placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #E0E0E0;
    
}
.text{
    margin-bottom: 5px;
    width: 100%;
    height: 124px;
    padding-top: 9px;
}
#text{
    width: 100%;
    height: 100%;
    resize: none ;
    border: none;
    background-color: #333333;

}

#text:focus, input:focus{
    outline: none;
}

.text fieldset{
    width: 100%;
    height: 124px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
}
.text legend{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;
    margin-left: 4px;
    padding-left: 3px;
    padding-right: 5px;
}
.agree{
    width: 243px;
    height: 14px;
}
.agree label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;
}
.agree input[type=checkbox]::before{
    width: 13px;
    height: 13px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 1px;
    background-color: #333333;
}
.btn_sunmit{
    width: 108px;
    height: 16px;
    margin-left: 67.62%;
    margin-bottom: 3px;
}
.btn_sunmit button[type=submit]{
    border: none;
    background-color: #333333;
}
.btn_sunmit img{
    width: 48px;
    margin-left: 20px;
}
.btn_sunmit button{
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FEFEFE;
    text-transform: uppercase;
}
.btn_sunmit button:hover{
    cursor: pointer;
}


.zoo_online_center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 190px;
    height: 185px;
    
}

.zoo_online_center_header h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FEFEFE;
    text-align: left; 
    margin-bottom: 15px;
}
.zoo_online_center p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FEFEFE;
}
.open_day{
    width: 190px;
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info{
    width: 143px;
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_social{
    width: 125px;
    height: 20px;
}
.footer_social_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.footer_line{
    width: 100%;
    height: 0px;
}
.footer_line hr{
    width: 100%;
    size: 0px;
    border: none;
    border-top: 0.5px solid #FEFEFE;
}
.copyrigh{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 278px;
    height: 33px;
    margin-top: 28px;
}
.copyrigh p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;
}
.footer_footer{
    margin-bottom: 72px;
}
ul{
    list-style-type: none;
}

button:hover{
    cursor: pointer;
    background: linear-gradient(900.89deg, #0be9aa -14.32%, #07c7d4 892.68%); ;
}
.info a{
    color: #FEFEFE;
    text-decoration: none;
}
@media (max-width:1500px){
    .footer_btn{
        right: 7%;
    }
}
@media (max-width:1200px){
    .footer,
    header{
        max-width: 1200px;
    }
    .footer_head{
        max-width: 840px;
        margin-right: 0;
    }
    .footer_wrapper{
        max-width: 900px;
    }
    .footer_btn{
        max-width: 279px;
        left:610px;
        top: 423px;
    }
    .main{
        height: 363px;
        max-width: 649px;
        margin-right: 0;
        margin-bottom: 13px;
    }
    .contact_us{
        padding-top: 13px;
    }
    .contact_us_header{
        margin-bottom: 10px;
    }
    .mode{
        margin-right: 150px;
    }

}
@media (max-width:1100px){
.head_nav{
    width: 460px;
}
}
@media (max-width:900px){
    nav{
        display: none;
    }
    .footer_wrapper_wrap{
        height: 1068px;
    }
    .footer{
        height: 100%;
    }
    .footer_wrapper{
        margin-left: 3.125%;
        margin-right:3.125%;
    }
    .footer_wrapper{
        margin-top: 15%;
    }
    .footer_head{
        flex-direction: column;
        max-height: 164px;
    }
    .footer_nav_list{
        flex-direction: column;
        height: 91px;
    }
    .main{
        flex-direction: column;
        height: 606px;
        margin-bottom: 48px;
    }
    .footer_btn{
        position: absolute;
        left: 53.9%;
        top: 8.988%;
    }
    .contact_us{
        padding-top: 0;
    }
    .contact_us_header{
        margin-bottom: 10px;
    }
    .footer_footer{
        margin-bottom: 47px;
    }
    .logo{
        margin-left: 3.125%;
    }
    .mode{
        margin-right: 15.16%;
    }
}
@media (max-width:640px){
    header{
        position: fixed;
        top:0;
        left: 0;
        background-color: #ffffff;
        box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
        z-index: 10;
        width: 100%;
    }
    main{
        padding-top: 94px;
    }
    
}
@media (max-width:610px){
    header,
    .footer{
        width: 100%;
    }
    .mode{
        margin-right: 23.43%;
    }
    .footer_nav{
        max-width: 300px;
    }
    .contact_us{
        max-width: 300px;
    }
    .footer_wrapper{
        margin-top: 15%;
        margin-left: 3.125%;
        margin-right:3.125%;
    }
    .footer_wrapper_wrap{
        height: 1100px;
    }
    .footer{
        height: 100%;
    }
    .footer_btn{
        position: absolute;
        left: 7.1875%;
        top: 79.7272%;
    }
    .footer_footer{
        margin-top: 110px;
        margin-bottom: 27px;
    }
    .footer_head{
        min-height: 175px;
    }
    .main{
        max-height: 583px;
    }
    .btn_sunmit{
        margin-left: 63.6666%;
    }
}
@media(max-width:320px) {
    header{
        height: 92px;
    }
    main{
        padding-top: 92px;
    }
}