*{
    padding:0;
    margin: 0;
    
}
body{
    margin: 0;
    padding: 0;
}
.first_screen_wrapper{
    background: url(DESKTOP/main/first_screen_bacground/Rectangle\ 32bacground.png) no-repeat center;
    background-size: cover;
}
.how_it_works_wrapper{
    background-size: cover;
}
.inspiring_us_wrapper{
    background: #F2F2F2;
    background-size: cover;
}
.pets_in_zoo_wrapper_wrap{
    background-size: cover;
}
.pay_and_feed_wrapper_wrap{
    background: #F2F2F2;
    background-size: cover;
}
.testimonials_wrapper_wrap{
    background-size: cover;
}
.map_wrapper_wrap{
    background: #F2F2F2;
    background-size: cover;

}



/*       main                      */
/*             first_screen                      */
.first_screen{
    position: relative;
    width: 1920px;
    height: 940px;
    overflow: hidden;
    margin: 0 auto;
}
.watch_online_animal{
    width: 100%;
    height: 100%;
}
.animal_online{
    position: absolute;
    width: 793px;
    height: 208px;
    left: 360px;
    top: 206px;
}
.animal_online h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 88px;
    line-height: 104px;
    color: #FEFEFE;
}
.watch_online{
    position: absolute;
    width: 245px;
    height: 55px;
    left:360px;
    top: 451px;
} 
 .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 0;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
 .btn img{
    margin-right: 3px;
    min-width: 32px;
    min-height: 32px;
}
.social{
    position: absolute;
    width: 20px;
    height: 107px;
    left: 152px;
    top: 722px;
}
.social_list{
    width:100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.instagram{
    display: block;
    width: 20px;
    height: 20px;
}
.twitter{
    display: block;
    width: 20px;
    height: 16px;
}
.youtube{
    display: block;
    width: 20px;
    height: 13px;
}
.vk{
    display: block;
    width: 20px;
    height: 12px;
}

/*   first page slider                */
.active{
    min-width: 245px;
    min-height: 352px;
}
.gallery{
    position: absolute;
    display: block;
    width: 1124px;
    height: 415px;
    left: 840px;
    top: 406px;
}
.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1124px;
    height: 352px;
    padding-left: 135px;
}
.slider_item{
    position: relative;
    width: 140px;
    height: 203px;
    padding-top: 27px;
    z-index : 1;
     

}
.slider_item:hover{
    cursor: pointer;
}
.slider_item .gallery_pet_info{
    display: none;
}
.active .gallery_pet_info{
    display:initial;
}
.active{
    padding:0;
}
.slider_img{
    width: 100%;
    height: 100%;
}

.input{
    position: absolute;
    width: 245px;
    height: 49px;
    top: 372px;
    left: 321px;
}

.line{
    position: absolute;
    width: 1087px;
    height: 13px;
    top: 182px;
    left: 0;
    z-index : 0;
}
.dots{
    margin-top: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #FEFEFE;
}
.input input[type=range] {
    margin-top: 15px;
    -webkit-appearance: none;
    width: 100%;
  }
.input input[type=range]:focus {
    outline: none;
  }
.input input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #BDBDBD;
  }
 .input input[type=range]::-webkit-slider-thumb {
    height: 10px;
    width: 30px;
    background: #FEFEFE;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
   

  }

.gallery_pet_info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gallery_pet_info .pet_about{
    margin-top: 232px;
}
.gallery_pet_info .pet_donate{
    margin-right: 25px;
}
.input .dots_pets_first{
    color: #BDBDBD;

}
.input .dots_pets{
color: #FEFEFE;
}


  /*      how_it_works                               */
.how_it_works{
    width: 1920px;
    height: 883px;
    margin: 0 auto;
}
.works_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1920px;
    height: 883px;
}

.span{
    width: 53px;
    height: 28px;
    margin:0 auto;
}

.works_header{
    width: 790px;
    height: 56px;
    margin: 0 auto;
    padding-top: 100px;
    
}
#works_header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
    color: #333333;
}
h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #333333;
}
.works{
    width: 790px;
    height: 80px;
    margin: 0 auto;
   
    
}
.works p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
    height:100%;
}
.works_slider{
    width: 790px;
    height: 401px;
    margin: 0 auto;
}
.works_slider_img{
    width: 790px;
    height: 323px;
}
.dots_works{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    margin: 0 auto;
}
.works_slider input[type=range] {
    margin-top: 11px;
    -webkit-appearance: none;
    width: 245px;
  }
.works_slider input[type=range]:focus {
    outline: none;
  }
.works_slider input[type=range]::-webkit-slider-runnable-track {
    width: 245px;
    height: 5px;
    cursor: pointer;
    background: #BDBDBD;
  }
.works_slider input[type=range]::-webkit-slider-thumb {
    height: 10px;
    width: 62px;
    background: #333333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
   

}
.watch_online_works{
    width: 245px;
    height: 55px;
    margin: 0 auto;
    padding-bottom: 101px;

}
.works_slider_input{
    display: block;
    width: 245px;
    height: 49px;
    margin: 0 auto;
    margin-top: 29px;
}

/*        What's inspiring us?                 */

.inspiring_us{
    
        width: 1920px;
        height: 413px;
        margin: 0 auto;
   
    
}
.inspiring_list{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul{
    list-style-type: none;
}
.inspiring_item{
    margin-top: 100px;
    width: 380px;
    
}
.inspiring_img{
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    
}
.inspiring_item h4{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #333333;
}
.inspiring_item p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
}
/*                pets in zoo                         */
.pets_in_zoo{
    width: 1920px;
    height: 854px;
    margin: 0 auto;
    
}
.pets_in_zoo_wrapper{
    width: 1920px;
    height: 854px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pets_in_zoo_header{
margin-bottom: 5px;
margin-top: 100px;
}
.pets_in_zoo_slider{
    width: 1300px;
    margin: 0 auto;
}
.pets_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pets_arrow{
    align-self: center;
}

.pets_input input[type=range] {
    margin-top: 15px;
    -webkit-appearance: none;
    width: 245px;
  }
.pets_input input[type=range]:focus {
    outline: none;
  }
.pets_input input[type=range]::-webkit-slider-runnable-track {
    width: 245px;
    height: 5px;
    cursor: pointer;
    background: #BDBDBD;
  }
.pets_input input[type=range]::-webkit-slider-thumb {
    height: 10px;
    width: 30px;
    background: #333333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}
.watch_online_works{
    width: 245px;
    height: 55px;
    margin: 0 auto;
    padding-bottom: 101px;

}
.works_slider_input{
    display: block;
    width: 245px;
    height: 49px;
    margin: 0 auto;
    margin-top: 29px;
}

.pets_input{
    display: block;
    width: 245px;
    height: 49px;
    padding-left: 3px;
    margin: 0 auto;
}

.pets_online{
    width: 245px;
    height: 55px;
    margin: 0 auto;
    padding-right: 3px;
    margin-bottom: 100px;
}
.pets_arrow_img{
    display: block;
    width: 30px;
    height: 30px;
}
.pets_img{
    display: block;
    width: 277px ;
    height: 399px;
}

.pets_item:hover{
    cursor: pointer;    
}
.pets_arrow:hover{
    opacity: 0.8;
    cursor: pointer;    
}
.choose_your_favorite{
    width: 100%;
    height: 100%;
}
.pet_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 100%;
}
.pets_item{
    position: relative;
    overflow: hidden;
}
.pet_info{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.pets_item:hover .pet_info{
    opacity: 1;
    top: 0;
}
.pet_about{
    Width: 180px;
    Height: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 269px;
    margin-left: 22px;
    margin-bottom: 14px;
}

.watch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #4BD8B5;
    background-color: transparent;
    border: none;
    margin-left: 22px;
    
}

.pet_donate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    margin-right: 59px;
}
.watch:hover,
.pet_donate:hover{
    background: transparent;
}
.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 24px;
}
.btns img{
    text-align: center;
    margin-right: 2px;
}


button:focus {
    outline: none;
}

/*         pay_and_feed                          */

.pay_and_feed{
    width: 1920px;
    height: 754px;
    margin: 0 auto;
}
.pay_and_feed_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.pay_and_feed_header{
    margin-top: 100px;
}
.donate{
    width: 790px;
    height: 16px;
    margin: 0 auto;
}
.donate p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4F4F4F;
}
.diagram_list{
    width: 1200px;
    height: 245px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 4px;
    margin: 0 auto;
    margin-top: 62px;
}
.diagram_arrow_item{
    align-self: center;
}
.diagram_img{
    display: block;
    width: 245px;
    height: 245px;
}
.diagram_arrow{
    display: block;
    width: 107px;
    

}
.donate_btn{
    width: 245px;
    height: 55px;
    margin: 0 auto;
    text-align: center;
   margin-top: 30px;
   padding-right: 4px;
   margin-bottom: 100px;
}


/*              testimonials                         */

.testimonials{
    width: 1920px;
    height: 810px;
    margin: 0 auto;
}
.testimonials_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.testimonials_header{
    margin-top: 100px;
    margin-bottom: 20px;
}
.testimonials_slider{
    width: 1300px;
    height: 340px;
    padding-right: 2px;
    margin: 0 auto;
}
.testimonials_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.testimonials_item_arrow{
    width: 30px;
    height: 30px;
    align-self: center;
    margin-top: 20px;
    
}
.testimonials_item_arrow:hover{
    cursor: pointer;
    opacity: 0.8;
}
.testimonials_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 585px;
    height: 310px;
    background: #FEFEFE;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
    border-radius: 5px;  
    margin-top: 11px;
}
.testimonials_img{
    display: block;
    width: 68px;
    height: 68px;
    margin: 0 auto;
    margin-top: 47px;
}
.testimonials_item h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #333333;
}
.testimonials_item p{
    width: 440px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
    padding-left: 1px ;
    margin: 0 auto;
    margin-bottom: 106px;
}
.testimonials_input input[type=range] {
    margin-top: 15px;
    -webkit-appearance: none;
    width: 245px;
  }
.testimonials_input input[type=range]:focus {
    outline: none;
  }
.testimonials_input input[type=range]::-webkit-slider-runnable-track {
    width: 245px;
    height: 5px;
    cursor: pointer;
    background: #BDBDBD;
  }
.testimonials_input input[type=range]::-webkit-slider-thumb {
    height: 10px;
    width: 30px;
    background: #333333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}
.testimonials_input {
    display: block;
    width: 245px;
    height: 49px;
    padding-left: 3px;
    margin: 0 auto;
}
.dots_testimonials{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}
.testimonials_btn{
    width: 245px;
    height: 55px;
    margin: 0 auto;
    padding-right: 1px;
    margin-bottom: 100px;
}
.testimonials_item_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 100%;
}

/*           map               */
.block_map{
    width: 1920px;
    height: 904px;
    margin: 0 auto;
    
}
.map_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.map_header{
    margin-top: 100px;
    margin-bottom: 25px;
}
.map_and_animals{
    width: 1200px;
    height: 498px;
    margin: 0 auto;
}
.map{
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 1px;
    margin: 0;
}
.map_img{
    width: 100%;
    height: 100%;
}
.animal_img{
    position: absolute;
    height: 93.37px;
    width: 93.36px;
}

.map_btn{
    width: 245px;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.map_btn form{
    width: 100%;
    height: 100%;
}
.animal_about{
    position: absolute;
}
#panda_map{
    top: 90px;
    left: 879px;
}
#eagle_map{
    top: 74px;
    left: 108px;
}
#crocodile_map{
    top: 102px;
    left: 231px;
}
#monkey_map{
    top: 189px;
    left: 558px;
}
#map_panda{
    top: 185px;
    left: 930px;
}
#map_eagle{
    top: 170px;
    left: 150px;
}
#map_crocodile{
    top: 200px;
    left: 280px;
}
#map_monkey{
    top: 290px;
    left: 610px;
}
.animal_img_animal_croco{
    position: absolute;
    top: 114px;
    left: 254px;
}
.animal_img_animal{
    position: absolute;
    top: 201px;
    left: 584px;
}
.animal_about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 436px;
    height: 149px;
    background: #FEFEFE;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
    opacity: 0;
}
.animal_img_hover{
    display: none;
}
.animal_img:hover{
    cursor: pointer;
}

.animal:hover .animal_about{
    opacity: 1;
}
.animal:hover .animal_about:hover{
    opacity: 0;
}


.animal_about img{
    width: 65px;
    height: 65px;
    margin-left: 24px;
    margin-top: 40px;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 44px;
    

}
.about h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 2px;
}
.about p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #4F4F4F;

}
.span_head{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.dots_pets_first{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #828282;

}
.dots_pets{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}
